<div class="containerRoom">
  <div class="containerChat">
    <input type="text" id="inpSendMess" style="width: 60%;"> <button id="btnSendMess">Отправить сообщение</button>
    <div class="containerChat2">
            {{!-- <div class="massageGet"   id="{{this.id}}">
              <h3><b>{{this.name}} Имя пользователя</b></h3>
                {{this.text}}Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia maxime porro, aliquid fuga officiis ratione! Placeat sequi ea iste, tempora vitae aliquid doloremque omnis porro perspiciatis fuga a. Aspernatur, nihil?
              </div>
              <div class="massageSend"   id="{{this.id}}">
              <h3><b>{{this.name}} Имя пользователя</b></h3>
                {{this.text}}Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia maxime porro, aliquid fuga officiis ratione! Placeat sequi ea iste, tempora vitae aliquid doloremque omnis porro perspiciatis fuga a. Aspernatur, nihil?
              </div>
              <div class="massageSend"   id="{{this.id}}">
              <h3 ></h3><b>{{this.name}} Имя пользователя</b></h3><br>
                {{this.text}} (в тексте будут координаты)
              <button class="btnCoord"> Проложить маршрут</button>
              </div> --}}
    {{#each message}}
            {{!-- {{#if message.coord}} --}}
                      <div class="massageSend"   id="{{this.id}}">
                      <h3 ><b>{{this.name}}</b></h3><br>
                        {{this.text}}
                         {{#if this.coord}}
                      <button id="{{this.text}}" class="btnCoord"> Проложить маршрут</button>
                        {{/if}}
                      </div>
            {{!-- {{else}}
                  <div class="massageSend"   id="{{this.id}}">
                    <h3 ><b>{{this.name}} {{message.coord}}Имя пользователя</b></h3><br>
                      {{this.text}}
                    </div>
              {{/if}} --}}
      {{/each}}

    </div>
  </div>
          <div class="containerMapRoom">
                    <h3 id="{{room.id}}" class="roomTitle"></h3>{{room.title}}</h3>
                    <!--The div element for the map -->
                    <div id="floating-panel">
                      <b>Mode of Travel: </b>
                      <select id="mode">
                        <option value="DRIVING">Driving</option>
                        <option value="WALKING">Walking</option>
                        <option value="BICYCLING">Bicycling</option>
                        <option value="TRANSIT">Transit</option>
                      </select>
                    </div>

                    <div id="container">
                      <div id="map"></div>
                      <div id="sidebar">
                        <p>Total Distance: <span id="total"></span></p>
                        <div id="panel"></div>
                      </div>
                    </div>
                {{!-- <button id="btnSendCoord">а</button> <buttonid="btnGo">b</button> --}}
          </div>


</div>
<script 
      src="https://maps.googleapis.com/maps/api/js?key={{key2.api}}&callback=initMap&libraries=&v=weekly"
      async
    ></script>
